# Node.js
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Firebase
.firebase/
firebase-debug.log

# Local environment
.env
.env.local

# Build and output
out/
dist/
build/

# Editor/OS
.vscode/
.DS_Store
Thumbs.db

# Cache/temp
cache/

# smart contract folders
lib/

# Python
__pycache__/
*.pyc

#firebase admin sdk private key
flappy-bird-leaderboard-463e0-firebase-adminsdk-fbsvc-cc61f9cd02.json
